{% extends '_base.html' %}
{% load static %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <img src="{% static 'images/det.webp' %}" class="img-fluid" alt="DjangoX logo"/>
    <p class="lead">Stretch goal</p>
  </div>
<h2>Details about {{ car.name }}</h2>
<!-- <h2>Purchaser: {{ car.purchaser.first_name }} {{ car.purchaser.last_name }}</h2> -->
<p>{{ car.desc }}</p>
<a href="{% url 'cars_update' car.pk %}">+ Update snack</a>
<a href="{% url 'cars_delete' car.pk %}">+ Delete snack</a>

{% endblock content %}

